name: Discord Bot (Rb m/25)

on:
  push:
    branches: [ "*" ]
  workflow_dispatch:
  schedule:
    - cron: '0 */3 * * *'

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 200
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # requirements.txt から一括インストールするよう変更
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run bot
        env:
          DISCORD_BOT_TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
          GIST_ID: ${{ secrets.GIST_ID }}
          # GeminiのAPIキーもここで注入！
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python main.py
